<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta
           name="viewport"
           content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Invoice Error</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

            html, body {
                margin: 0;
            }

            body {
                width: 100%;
                font-family: 'Muli', sans-serif;
                background-color: #ffffff;
            }

            #content {
                margin: 40px;
                font-size: 1em;
                line-height: 20px;
                color: #292934;
            }
        </style>
    </head>
    <body>
        <div id="content">
            Error generating the invoice
        </div>
    </body>
</html>